<form class="form-horizontal">
    <div class="form-group">
        <div> {{vm.title}}</div>
        <div ng-repeat = "case in vm.cases">
           {{case.labCase}}
       </div>
        
        <label for="labcase" class="col-md-2 control-label">Lab Case</label>
        <div class="col-md-4"><input class="form-control" id="inputLabCase" placeholder="Lab Case"
             type="text"   ng-model="vm.cases.labCase"></div>
    </div>
      <div class="form-group">
        <label for="labcase" class="col-md-2 control-label">Case Officer</label>
        <div class="col-md-4"><input class="form-control" id="inputLabCase" placeholder="Case Officer" type="text"></div>
    </div>
      <div class="form-group">
        <label for="labcase" class="col-md-2 control-label">Offense Date</label>
        <div class="col-md-4"><input class="form-control" id="inputLabCase" placeholder="Offense Date" type="text"></div>
    </div>
    
    
   
</form>
