 <!-- controller: caseItemCtrl  -->
 
 <div > 
       <div class="panel panel-primary">
          <div class="panel panel-heading" style="font-size:large" >{{vm.title}}</div>
          <div class="panel-body">
          <table class="table">
              <thead>
                  <td>Item Number</td>
                  <td>Description</td>
              </thead>
              <tbody>
                  <tr ng-repeat = "item in vm.items">
                      <td>  <a ui-sref="itemDetail({ECN: item.ECN})">  {{item.itemNumber}}</td> </a>
                      <td> {{item.itemDesc}}</td>
                      <td> 
                          <a ui-sref="itemEdit.case({ECN: item.ECN})" class="btn btn-primary"> Edit</a> 
                           
                      </td>
                      
                  </tr>
              </tbody>
           </table>   
           </div>
       </div>
</div>