<div class="col-md-8">
   
        <div class="panel panel-primary" style="font-size:large; width:500px">
            <div class="panel panel-heading" style="font-size:large ">
            Pick a Case    
            </div>
            <input kendo-auto-complete ng-model="name" k-data-source="vm.names" style="width: 40%;" /> 
            <div class="panel-body">
                
                <a href=""> 10-1234 </a>
                
            </div>   
        </div>    
        
        
   
</div>

 <div class="col-md-4">
 
 
 <div class="panel panel-primary" style="font-size:large; width:200px">
    <div class="panel panel-heading" style="font-size:large ">
       Pick a Department
    </div>
    
    <div class="panel-body">
        <div><a href=""> Chicago </a></div>
        <div><div><a href=""> Baltimore </a></div>
        <div><a href=""> Austin </a></div>
        <div><a href=""> Chicago DNA Lab </a></div>
        <div><a href=""> Anne Arundel CODIS Lab </a></div>
        <div><a href=""> Washoe Forensic Lab </a></div>
     </div>   
 </div>    
 
 </div>