<!--  horizontal form template   -->
<form class="form-horizontal">
    <div class="form-group">
        <label for="labcase" class="col-md-2 control-label">Lab Case</label>
        <div class="col-md-4"><input class="form-control" id="inputLabCase" placeholder="Lab Case" type="text"></div>
    </div>
      <div class="form-group">
        <label for="labcase" class="col-md-2 control-label">Case Officer</label>
        <div class="col-md-4"><input class="form-control" id="inputLabCase" placeholder="Case Officer" type="text"></div>
    </div>
      <div class="form-group">
        <label for="labcase" class="col-md-2 control-label">Offense Date</label>
        <div class="col-md-4"><input class="form-control" id="inputLabCase" placeholder="Offense Date" type="text"></div>
    </div>
</form>





<!--  Read only display with image on right      -->
<div class="panel panel-primary
    <div class="panel-heading" style="font-size:large">
       Lab Case    
    </div>
    
    <div class="panel-body">
        
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-2"> LabCase:  </div> 
                    <div class="col-md-10">{{LabCase}}   </div>
                   
                </div>
                   
                <div class="row">
                    <div class="col-md-2">Address: </div>
                    <div class="col-md-10">   {{Address}}    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">Offense: </div>
                    <div class="col-md-10">   {{Offense}}   </div>
                </div>

                 
            </div>
            <div class="col-md-4">
                
                <img src="http://placehold.it/200x150"> 
                <div class="row">
                 <a href=""> Some links here </a>
                 </div>
                 <div class="row">
                 <a href=""> Some links here </a>
                 </div>
            </div>
        
    </div>
</div>